<% include ../partials/header %>


 <button class="btn btn-default" ><a href="https://www.amazon.in/">Amazon</a></button>
 
 
 <button class="btn btn-default"><a href="https://www.paytm.com/" >Paytm</a></button>
 
 <button class="btn btn-default"><a href="https://www.paytm.com/" >Flipkart</a></button>
 
 
 
 <% include ../partials/footer %>